.layout {
  display: flex;
  flex-direction: column;
  height: 100vh;
  overflow: hidden;
  background-color: var(--bg-secondary);
}

.main {
  flex: 1;
  width: 100%;
  height: calc(100vh - 3.5rem);
  overflow: hidden;
  background-color: var(--bg-secondary);
}

@media (min-width: 768px) {
  .layout {
    flex-direction: row;
    height: 100vh;
    overflow: hidden;
  }

  .main {
    width: 100%;
    max-width: 100%;
    height: 100vh;
    overflow: hidden;
    margin-left: 0;
  }
}

@media (min-width: 1024px) {
  .main {
    margin-left: var(--sidebar-width);
  }
}
